.layout {
  display: grid;
  height: 100vh;
}

.hideSideNav {
  grid-template:
    [topNav-left] 'top top top top' 50px [topNav-right]
    [main-left] 'main main main main' 1fr [main-right]
    [main-left] 'main main main main' 1fr [main-right]
    [main-left] 'main main main main' 1fr [main-right] / 290px 1fr;
}

.showSideNav {
  grid-template:
    [topNav-left] 'top top top top' 50px [topNav-right]
    [main-left] 'side main main main' 1fr [main-right]
    [main-left] 'side main main main' 1fr [main-right]
    [main-left] 'side main main main' 1fr [main-right] / 290px 1fr;
}

.sideNav {
  grid-area: side;
  background: rgb(175, 175, 175);
}

.content {
  grid-area: main;
  background: rgb(243, 243, 243);
}

.topNav {
  grid-area: top;
  background: rgb(154, 248, 123);
}

@media (min-width: 992px) {
  .layout {
    grid-template:
      [topNav-left] 'top top top top' 50px [topNav-right]
      [main-left] 'side main main main' 1fr [main-right]
      [main-left] 'side main main main' 1fr [main-right]
      [main-left] 'side main main main' 1fr [main-right] / 290px 1fr;
  }
}
